*, *::after, *::before
{
    box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    width: 1920px; /*Обязательно удалить в конце!!!*/
}

.wrap
{
    max-width: 1110px;
    margin: 0px auto;
}

a
{
    text-decoration: none;
}

header
{
    position: relative;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_logo
{
    display: block;
    color: transparent;
    content: "";
    width: 187px;
    height: 56px;
    background-image: url("../imgs/logo/logo-main.png");
    background-repeat: no-repeat;
}

.nav_menu
{
    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav_menu li
{
    margin: 0px 39px 0px 0px;
}

.nav_menu li:last-child
{
    margin-right: 0px;
}

.nav-item
{
    color: #6e7ea9;
    padding: 0px;
    justify-content: center;
    letter-spacing: 2.28px;
}

.button
{
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    background-color: #1085e4;
    letter-spacing: 2.35px;
    padding: 20px 41px 21px 41px;
    border-radius: 30px;
    border: 1px solid #1085e4;
}

.button:hover
{
    color: #1085e4;
    background-color: #fff;
    border-color: #1085e4;
}

.btn-free
{
    margin-top: 100px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.89px;
    padding: 21px 54px 20px 54px;
    border: 1px solid #1085e4;
}

.main-screen
{
    padding-bottom: 335px;
}

h1
{
    font-size: 80px;
    color: #192b59;
    font-weight: 600;
    max-width: 540px;
    line-height: 90px;
    letter-spacing: -2.3px;
    margin-top: 300px;
}

.button_group
{
    margin-top: 67px;
}

.button_group a:last-child
{
    margin-left: 15px;
}

.button-grey
{
    color: #7e8bae;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
}

.button-grey:hover
{
    color: #7e8bae;
    background-color: #fff;
    border: 1px solid #7e8bae;
}

.img_main_screen
{
    display: block;
    width: 895px;
    height: 740px;
    position: absolute;
    background-image: url("../imgs/elmts/screen_header_block1.png");
    background-repeat: no-repeat;
    right: 0px;
    top: 189px;
}

.sponsors ul
{
    padding: 104px 0px 101px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: transparent;
}

.sponsors li
{
    display: block;
}

.s_logo1
{
    width: 198px;
    height: 58px;
    background-image: url("../imgs/logo/logo1_sponsors_block2.png");
    background-repeat: no-repeat;
}

.s_logo2
{
    width: 200px;
    height: 69px;
    background-image: url("../imgs/logo/logo2_sponsors_block2.png");
    background-repeat: no-repeat;
}

.s_logo3
{
    width: 201px;
    height: 47px;
    background-image: url("../imgs/logo/logo3_sponsors_block2.png");
    background-repeat: no-repeat;
}

.s_logo4
{
    width: 200px;
    height: 69px;
    background-image: url("../imgs/logo/logo4_sponsors_block2.png");
    background-repeat: no-repeat;
}


h2 > span
{
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.65fr 0.9fr 0.65fr 0.9fr 0.65fr;
    grid-gap: 30px;
    grid-template-areas:"a c d"
                        "b c d"
                        "b f g"
                        "e f g"
                        "e h h"
}

.grid_header
{
    grid-area: a;
}

.g_item1
{
    grid-area: b;
}

.g_item2
{
    grid-area: c;
}

.g_item3
{
    grid-area: d;
}

.g_item4
{
    grid-area: e;
}

.g_item5
{
    grid-area: f;
}

.g_item6
{
    grid-area: g;
}

.grid_cite
{
    grid-area: h;
}

.grid > h2
{
    margin: 0px;
    max-width: 285px;
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 1.25;
}

.grid > h2 span
{
    letter-spacing: 2.6px;
    margin-bottom: 15px;
}

.grid_item
{
    display: block;
    width: 350px;
    padding: 0px 39px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.grid_item > *
{
    text-align: center;
}

.grid_logo
{
    display: block;
    background-repeat: no-repeat;
    width: 150px;
    height: 114px;
}

.grid_logo_img1
{
    margin: 30px auto 22px 60px;
    background-image: url("../imgs/icon/icon1_features_fix_block2.png");
}

.grid_logo_img2
{
    margin: 38px auto 15px 62px;
    background-image: url("../imgs/icon/icon2_features_fix_block2.png");
}

.grid_logo_img3
{
    margin: 38px auto 15px 62px;
    background-image: url("../imgs/icon/icon3_features_fix_block2.png");
}

.grid_logo_img4
{
    margin: 37px auto 16px auto;
    background-image: url("../imgs/icon/icon4_features_fix_block2.png");
}

.grid_logo_img5
{
    margin: 33px auto 20px auto;
    background-image: url("../imgs/icon/icon5_features_fix_block2.png");
}

.grid_logo_img6
{
    
    margin: 33px auto 20px auto;
    background-image: url("../imgs/icon/icon6_features_fix_block2.png");
}

.grid_item h3
{
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin: 0px;
    letter-spacing: -0.6px;
}

p
{
    font-size: 16px;
    color: #7581a1;
    line-height: 26px;
}

.grid_item p
{
    margin: 20px 0 22px 0;
    letter-spacing: -0.2px;
}

.grid_item a
{
    display: block;
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
    margin-bottom: 66px;
}

.grid_bottom > .cite_author
{
    font-size: 14px;
    color: #1085e4;
    margin-left: 25px;
    font-style: normal;
}

.grid_bottom > p
{
    margin: 0px;
    padding: 15px 0px 15px 20px;
}

.grid_bottom > .cite_author > span
{
    font-size: 16px;
    color: #192b59;
    font-weight: 700;
}

.subscribe_block
{
    display: flex;
    justify-content: space-between;
    padding: 52px 0px 52px 0px;
}

.subscribe_content *, .subscribe_form *
{
    color: #fff;
}

.subscribe_content
{
    max-width: 435px;
}

.subscribe_content > h2
{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    margin-top: 65px;
    margin-bottom: 27px;
}

.subscribe_content > h2 span
{
    letter-spacing: 2.8px;
    margin-bottom: 21px;
}

.subscribe_content > p
{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 37px;
}

.subscribe_form
{
    border: 2px solid #456fbe;
    border-radius: 35px;
    padding: 7px 8px 7px 28px;
}

.subscribe_form > form
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.subscribe_form > form > input
{
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 310px;
}

/* начало изменения цвета подсказки */

.subscribe_form > form > input::-moz-placeholder
{
    color: #b1c3ee;
}

.subscribe_form > form > input::-webkit-input-placeholder
{
    color: #b1c3ee;
}

.subscribe_form > form > input:-moz-placeholder
{
    color: #b1c3ee;
}

.subscribe_form > form > input:-webkit-input-placeholder
{
    color: #b1c3ee;
}

/* конец изменения цвета подсказки */

.subscribe_form > form > *
{
    outline: none;
}

.button.btn-subscribe
{
    font-size: 14px;
    letter-spacing: 2.85px;
    padding: 17px 44px;
}

.breez
{
    color: #00bffe;
}

.features-icon
{
    height: 150px;
    width: 150px;
}

.features-2 .features-icon::before
{
    margin-top: 83px;
    margin-left: 108px;
}

.features-2 .wrap
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.features-2 .right-block
{
    position: relative;
    margin-right: 0px;
    max-width: 55%;
}

.features-2 h2
{
    margin-top: 220px;
    margin-bottom: 30px;
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.features-2 p
{
    margin: 0px 0px 33px 0px;
}

.features-2 .features-list
{
    max-height: 315px;
    padding-left: 4px;
    padding-right: 50px;
    margin: 0px 0px 186px 0px;
    overflow: hidden;
    overflow: auto;
}

.features-2 dt
{
    font-size: 16px;
    margin-bottom: 15px;
    color: #5a6789;
    font-weight: 700;
}


.features-2 dd
{
    font-size: 14px;
    color: #7581a1;
    line-height: 24px;
    margin-left: 0px;
}

.features-2 dd::after
{
    content: "";
    display: block;
    width: 510px;
    height: 1px;
    margin: 27px 0px 28px 2px;
    background-color: #F2F2F2;
}

.features-2 dd:last-of-type::after
{
    display: none;
}

.counter > .wrap > *
{
    text-align: center;
}

.counter h2
{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 60px;
    margin: 40px auto 55px auto;
    padding-left: 20px;
}

.counter h2 > span
{
    font-size: 16px;
    letter-spacing: 3.3px;
    margin-bottom: 11px;
    line-height: normal;
}

.counter_block
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #1085e4;
    font-weight: 800;
    letter-spacing: 2.28px;
    margin: 0px -12px 0px -11px;
    padding-left: 0px;
}

.counter_item
{
    text-align: center;
    letter-spacing: 2.4px;
    padding-left: 7px;
}

.counter-value
{
    display: block;
    font-size: 60px;
    color: #bacbdc;
    font-weight: 700;
    margin-bottom: 8.4px;
    letter-spacing: -2px;
}

.video
{
    display: flex;
}

.video > h2
{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.video > .available
{
    font-weight: 700;
}

.features-3
{
    display: flex;
}

.features-3 h2
{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.features-4
{
    display: flex;
}

.features-4 h2
{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.button.btn-ft4
{
    padding: 21px 62px;
}

.screenshots
{
    text-align: center;
}

.screenshots > div
{
    line-height: 0px;
}

.screenshots > div *
{
    line-height: 1.15;
}

.screenshots h2
{
    font-size: 40px;
    color: #192b59;
    font-weight: 600;
    letter-spacing: -1.16px;
    margin-bottom: 72px;
}

.screenshots span
{
    font-size: 18px;
    letter-spacing: 3.5px;
    margin-bottom: 21px;
}

.screenshots img
{
    margin-right: 11px;
}

.clients h2
{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    background-color: grey; /*убрать, временный стиль чтобы текст было видно*/
}

.clients > div > h2 > span
{
    font-size: 18px;
    color: #85c8ff;
}

.clients-cards
{
    display: flex;
}

.clients p
{
    font-size: 14px;
}

.client_info
{
    display: flex;
}

.client_info > p
{
    font-size: 14px;
    color: #1085e4;
    font-weight: 700;
}

.client_info > p > span
{
    font-size: 22px;
    color: #000958;
    font-weight: 600;
    display: block;
}

.pricing
{
    text-align: center;
}

.pricing h2
{
    font-size: 40px;
    color: #192b59;
    font-weight: 600;
    letter-spacing: -1.16px;
    margin-bottom: 83px;
}

.pricing h2 > span
{
    font-size: 18px;
    letter-spacing: 3.7px;
    margin-bottom: 21px;
}

.pricing_plans
{
    display: flex;
    justify-content: space-between;
}

.price
{
    font-size: 14px;
    color: #0084ff;
    font-weight: 700;
    letter-spacing: 2.8px;
    margin-bottom: 28px;
}

.price > #month
{
    font-size: 20px;
    color: #7b8ab2;
    font-weight: 700;
    display: block;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

.price .dollar
{
    font-size: 20px;
    color: #192b59;
    font-weight: 700;
}

.price .dollar > span
{
    font-size: 70px;
    letter-spacing: -1.9px;
}

.pricing_plans ul
{
    font-size: 14px;
    color: #8085b1;
}

.price_item
{
    position: relative;
    flex-basis: 31.6%;
    padding: 75px 0px 81px 0px;
    background-color: #f5faff;
}

.price_item ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    margin-bottom: 38px;
}

.price_item:hover
{
    background-color: #192b59;
}

.price_item:hover *
{
    color: #fff;
}

.button-white
{
    font-size: 12px;
    color: #8085b1;
    font-weight: 700;
    background-color: #f5faff;
    letter-spacing: 2.35px;
    padding: 22px 62px;
    border-radius: 30px;
    border: 1px solid #dce1e5;
}

.price_item:hover .button-white
{
    color: #fff;
    background-color: #1a88e1;
    border-color: #1085e4;
}

.price_item:hover .button-white:hover
{
    color: #fff;
    background-color: #60a0d4;
    border-color: #a9eca9;
}

.price_item::after
{
    content: "";
    width: 58px;
    height: 100%;
    background-image: url("../imgs/elmts/bg-b.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.price_item:hover::after
{
    background-image: none;
}

.team
{
    text-align: center;
}

.team h2
{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    background-color: grey; /*убрать, временный стиль чтобы текст было видно*/
}

.team-people
{
    display: flex;
    justify-content: space-around;
}

.team > div > h2 > span
{
    font-size: 18px;
    color: #85c8ff;
}

.team h3
{
    font-size: 26px;
    color: #192b59;
    font-weight: 600;
}

.team h3 > span
{
    font-size: 14px;
    color: #1a88e1;
    font-weight: 800;
    display: block;
}

.contact_form
{
    display: flex;
}

.contact_form h2
{
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
}

.contact_form .form
{
    display: flex;
    flex-direction: column;
}

.contact_form input, textarea
{
    font-size: 14px;
    color: #8995b3;
}

.contact_form textarea
{
    font-size: 14px;
    color: #8995b3;
}

.footer_block
{
    display: flex;
}

.footer_block > p
{
    font-size: 16px;
    color: #b6bae0;
}

.footer_block > p > a
{
    color: #1085e4;
}

.footer_block ul
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer_block ul > li
{
     /*удалить*/
}

/* Block position & backgrounds */

header
{
    background-image: url("../imgs/bg/background_header_block1.png");
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
}

.header
{
    padding-top: 51px;
}

.sponsors
{
    background-image: url("../imgs/bg/background_sponsors_block2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.features-1
{
    padding: 120px 0px 121px 0px;
}

.subscribe
{
    /*начало блока с градиентом для фона*/
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,119,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,119,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,119,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,119,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,119,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,119,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2377cd', GradientType=1 );
    /*конец блока с градиентом для фона*/
}

.features-icon::before
{
    content: "";
    position: absolute;
    background-image: url("../imgs/icon/icon_ft2_block5.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.features-2
{
    position: relative;
    max-height: 1002px;
    background-image: url("../imgs/bg/background_ft2_block5.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.features-2::before
{
    content: "";
    background-image: url("../imgs/elmts/note_ft2_block5.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 18px;
    width: 1067px;
    height: 991px;
}

/* Стили для скролла */
.features-2 .features-list::-webkit-scrollbar { width: 5px; height: 4px; }
.features-2 .features-list::-webkit-scrollbar-track {  background-color: #F4F7FF; margin-top: 4px; }
.features-2 .features-list::-webkit-scrollbar-track-piece { background-color: #F4F7FF; }
.features-2 .features-list::-webkit-scrollbar-thumb { height: 5px; background-color: #1D8CE5; border-radius: 20px; }
.features-2 .features-list::-webkit-scrollbar-corner { display: none; }
.features-2 .features-list::-webkit-resizer { display: none; }
.features-2 .features-list::-webkit-scrollbar:horizontal { display: none; }
.features-2 .features-list::-webkit-scrollbar-button:vertical:double-button { display: none; }
.features-2 .features-list::-webkit-scrollbar-button:vertical:single-button { display: none; }
/* конец стилей для скролла */

.counter
{
    padding-top: 75px;
    background-color: #edf6ff;
    padding-bottom: 117px;
    background-image: url("../imgs/bg/background_counters_block6.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.screenshots
{
    padding-top: 83px;
    background-color: #edf6ff;
}

.pricing
{
    padding-top: 83px;
}

footer
{
    background-color: #192b59;
}